/frames
/dt
/path
/diameter_cut_lower
/diameter_cut_upper
/diameter
/linescan_info
/recrig
/vessels_red
/vessels_green
/diameter_red
/diameter_green
/diameter_peri
/baseline_episodes
/linescan_crop
/pulsatility_green
/trial_id
/vessel_type
/pulsatility_in_sleep
/pulsatility_red
/vessels_green_raw
/vessels_red_raw
/crosstalk_factor
/episodes
/vessels_green_threshold
/vessels_red_threshold
/diameter_in_episodes
/diameter_green_baseline
/diameter_red_baseline
/diameter_peri_baseline
/ignored_episodes_red
/ignored_episodes_green
/vessel_id
/note
/status
/linescan_crop_status
/vessels_green_threshold_status
/vessels_red_threshold_status
/crosstalk_note
/trial_type
/clean_episodes
/dilation_timepoints
/eeg_dilation
/eeg_dilation_tbl
/pvs_timepoints
/diameter_dilation
/diameter_dilation_tbl
/eeg_pvs
/eeg_pvs_tbl
/core_trace
/core_trace_dilation
/core_trace_dilation_tbl
/awakening_episodes
/vessel_wall
/vessel_wall_red
