/Linescan Images
/Linescan Diameter Images
/Endfeet Vessel Baseline Traces
/Endfeet Vesdist Overview
/Endfeet Vesdist Change Bar
/Linescan Diameter Spectrograms
/Linescan Cropped Vessels
/Linescan Diameter Red
/Linescan Diameter Spectrograms Red
/Linescan Vessel Outlines
/Linescan Wheel and Diameter
/Linescan Cropped Vessels Red
/Linescan Cropped Vessels Green
/Linescan Diameter Green
/Linescan Diameter Spectrograms Green
/Linescan Diameter Spectrograms Peri
/Microbead Movies
/Endfeet Vessel Traces for Alexandra
/Linescan Pulsatility in Sleep
/Linescan Sleep Data
/Linescan Pulsatility in Sleep Matlab
/Linescan Diameter in Episodes
/Linescan Diameter ECoG
/Linescan Diameter Change
/Linescan Diameter Change Statistics
/Linescan Diameter Traces for Gudmund
/Linescans without crop
/Linescans without diameter green
/Linescans without diameter red
/Endfeet Vessel outline and linescan
/Endfeet Vessel diameter and ROI traces
/Endfeet Vessel diameter and ROI traces around dilation
/Endfeet Vessel diameter and ROI traces around dilation average
/Linescan example figure data
/Linescan Diameter Traces CSV
/Linescan diameter check.png
/Linescan wheel time series (awake only)
/Linescan behavior traces (awake only)
/Linescan Diameter Clean Traces CSV
/Linescan dilations per trial
/Linescan dilations per trial ECoG
/Linescan dilations per trial diameter
/Linescan PVS timepoint per trial ECoG
/Endfeet TSeries examples tiff
/Linescan overview
/Endfeet TSeries examples mp4
/Endfeet ROI to REM avg
/Endfeet ROI to REM end per trial
/Endfeet ROI to REM start per trial
/Linescan dilations ECoG avg
/Linescan dilations ECoG per trial
/Endfeet REM associated dilation avg
/Endfeet ROI in empty vessels per trial
/Linescan vessel center traces
/Endfeet Vessel diameter and center vessel ROI traces around dilation average
/Linescan dilations vessel center avg
/Linescan Vessel Wall Clean Traces CSV
/Linescan Vessel Images
/Linescan Vessel Images Figures
/Linescan Vessel Images Figures All
/Linescan Vessel Images Clean REM Pen.
/Lumen Vessel Wall CSV Awakening
/Lumen Vessel Wall CSV
/Vessel Wall CSV Clean + Awakening
/Vessel Wall CSV
/Vessel Wall CSV used in simulations
